* {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 1em;
	font-family: Montserrat, Verdana;
	box-sizing: border-box;
}

html, body {
	background-color: #FFF;
	scroll-behavior: smooth;
}

#page {
	width: 70%;
	margin: 0 auto;
	max-width: 1600px;
	min-width: 980px;
}
main {
	margin: 0 auto;
}

p {
	text-align: justify;
	text-indent: 3.2em;
	margin-bottom: .5em;
}

p:last-of-type {
	margin: 0;
}

a {
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
	color: #000;
}

img.social-icons {
	width: 3.5em;
	height: auto;
	margin-right: 1em;
	border: none;
	border-radius: .5em;
	overflow: hidden;
}

.icon-text::before, .icon-text::after {
	content: ' ';
}

i {
	vertical-align: middle;
	font-size: 1.2em;
}

header {
	margin: 1em 0;
	padding: 1.5em;
	height: 10em;
	text-align: left;
	font-weight: 700;
	background-color: #EFEFEF;
	border-radius: .5em;
	box-shadow: .3em .3em .3em #555;
}

header h1 {
	font-size: 2.9em;
	color: #333;
}

header h2 {
	font-size: 1.8em;
	margin-top: .5em;
	color: #555;
}

nav {
	background-color: #333;
	border-radius: .5em;
	color: #FFF;
	box-shadow: .3em .3em .3em #555;
}

nav ul {
	text-align: center;
	list-style: none;
	background-color: #333;
}

nav>ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: .5em;
}

nav>ul>li {
	position: relative;
}

nav a {
	font-weight: 700;
	color: #000;
	display: block;
	line-height: 2.6em;
	text-align: center;
	font-size: 1.3em;
	font-style: normal;
	color: #FFF;
	padding: 0 .8em;
}

.titremenu {
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 1.3em;
	font-style: normal;
	line-height: 2.6em;
	color: #FFF;
	padding: 0 .8em;
}


nav ul li ul {
	display: none;
	flex-direction: column;
	z-index: 2;
	position: absolute;
	width: 100%;
	box-shadow: .3em .3em .3em #555;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
	overflow: hidden;
}

nav ul li:hover ul {
	display: flex;
	flex-direction: column;
}

nav li:hover {
	background: #000;
}

section {
	margin: 1em 0;
	min-height: 10vh;
	line-height: 150%;
	background: #EFEFEF;
	border-radius: .5em;
	overflow: hidden;
	box-shadow: .3em .3em .3em #555;
}

article {
	padding: 1em;
}

section h3 {
	padding: .4em 1em;
	font-size: 1.3em;
	font-variant: small-caps;
	line-height: 1.8em;
	color: #212121;
	background-color: #999;
}

article h4 {
	color: #212121;
	font-size: 1.1em;
}

section ul {
	margin: .5em 1em;
	list-style-type: '\2714';
}

section ul li {
	margin: .5em 1em;
	padding-left: .5em;
}


.cols {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

img.img-round {
	width: 18em;
	height: auto;
	border-radius: 50%;
}

footer {
	margin: 1em 0;
	padding: 1em 0;
	text-align: center;
	color: #FFF;
	background-color: #333;
	border-radius: .5em;
	box-shadow: .3em .3em .3em #555;
}

footer a {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	color: #FFF;
}

.hamburger {
	display: none;
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 3;
	height: 3.1em;
	border-radius: .5em;
	background-color: #333;
	padding: .5em;
	
}

.hamburger i {
	color:white;
	font-size:2.2em;
}

.enhaut {
	display: none;
	width: 2.2rem;
	color: black;
	font-size: 2rem;
	margin: auto;
	text-align: center;
	position: fixed;
	bottom: 2rem;
	right: calc(5% - 2rem);
	z-index: 5;
}

.visible {
	display: flex;
}

.invisible {
	display: none;
}

form {
	text-align: center;
	max-width: 34em;
}

input, textarea {
	padding: .5em;
	line-height: 150%;
	margin: .3em 0;
	border: 1px solid #ccc;
	border-radius: .5em;
	width: 100%;
}

textarea {
	resize: vertical;
}

form button {
	font-size: 1.1em;
	line-height: 2em;
	width: 100%;
	border: none;
	background-color: #333;
	color: #FFF;
	text-align: center;
	border-radius: .5em;
}

form button:hover {
	background: #000;
}

@media all and (max-width: 1024px) {
	section, nav, header, footer, nav ul li ul {
		box-shadow: none;
	}
	
	header {
		margin: 0;
		padding: 1em;
		border-radius: 0;
		height: auto;
	}
	
	header h1 {
		font-size: 1.6em;
	}
	
	header h2 {
		font-size: 1.1em;
	}
	
	.hamburger {
		display: inline-block;
	}
	
	nav {
		position: fixed;
		top: 2.3em;
		right: 2.3em;
		background-color: rgba(51, 51, 51, 0.7);
	}
	
	nav ul {
		display: none;
		flex-direction: column;
		align-items: stretch;
		margin: 0;
		padding: 0;
		text-align: left;
	}
	
	nav ul li, ul li ul {
		text-align: left;
		line-height: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	
	nav a {
		display: block;
		text-align: left;
	}

	.titremenu {
		text-align: left;
	}
	
	nav ul li ul {
		position: static;
	}
	
	#page {
		width: 100%;
		margin: 0;
		padding: 0;
		min-width: 0;
	}
	
	.cols {
		flex-direction: column;
	}
	
	section {
		border-radius: 0;
	}
	
	section ul li {
		text-align: justify;
		margin-right: 0;
	}
	
	article {
		padding: 1em;
	}
	
	footer {
		border-radius: 0;
	}
	
	img.img-round {
		display: block;
		margin: 1em auto;
		max-width: 60%;
	}
	
	.enhaut {
		bottom: 2.2em;
		right: calc(50% - 1.1rem);
	}
}