@import 'variables';

* {
    box-sizing: border-box;
    font-family: Montserrat, Verdana;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  html, body {
    background-color: $white;
    scroll-behavior: smooth;
  }
  
  #page {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 1000px;
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  
  p {
    margin-bottom: 0.5rem;
    text-align: justify;
    text-indent: 3.2rem;
  
    &:last-child {
      margin: 0;
    }
  }
  
  a {
    color: $veryDarkGray;
    font-weight: 700;
    text-decoration: none;
  }
  
  .social-icons {
    border: none;
    border-radius: 0.5rem;
    height: auto;
    margin-right: 1rem;
    overflow: hidden;
    width: 3.5rem;
  }
  
  .icons {
    height: 1.8em;
    width: auto;
    filter: invert(100%);
  }
  
  header {
    min-height: 10rem;
    background-color: $lightGray;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $darkGray;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1.5rem;
  
    h1, h2 {
      color: $darkGray;
    }
  }
  
  nav {
    background-color: $darkGray;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $darkGray;
    color: $white;
    overflow: hidden;
  
    ul {
      background-color: $darkGray;
      list-style: none;
      text-align: center;
  
      > ul {
        border-radius: 0.5rem;
        display: flex;
        flex-flow: row;
        justify-content: center;
  
        > li {
          position: relative;
  
          a {
            color: $white;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4rem;
            padding: 0 0.8rem;
          }
  
          &.sousmenu {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4rem;
            padding: 0 0.8rem;
          }
  
          ul {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            box-shadow: 0.3rem 0.3rem 0.3rem $darkGray, 0.3rem 0 0.3rem $darkGray;
            display: none;
            flex-flow: column;
            overflow: hidden;
            position: absolute;
            width: 100%;
            align-items: center;
            z-index: 2;
  
            li {
              width: 100%;
              text-align: center;
            }
          }
  
          &:hover ul {
            display: flex;
            flex-flow: column;
          }
  
          &:hover {
            background: $veryDarkGray;
          }
        }
      }
    }
  }
  
  main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  
  section {
    background: $lightGray;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $darkGray;
    line-height: 160%;
    min-height: 10vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    overflow: hidden;
  
    h3 {
      background-color: $mediumGray;
      color: $veryDarkGray;
      font-size: 1.4rem;
      font-variant: small-caps;
      line-height: 2rem;
      padding: 0.5rem 1.5rem;
    }
  
    article,
    .cols article:last-of-type {
      margin: 0 1.5rem;
    }
  
    article:last-of-type {
      margin-bottom: 1rem;
    }
  
    h4 {
      color: $veryDarkGray;
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  
    article ul {
      list-style-type: "\2714";
      margin: 0.5rem 1rem;
  
      &:last-of-type {
        margin-bottom: 0;
      }
  
      li {
        margin: 0.5rem 1rem;
        padding-left: 0.5rem;
      }
    }
  
    .cols {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
    .img-round {
      border-radius: 50%;
      height: auto;
      width: 18rem;
      vertical-align: middle;
    }
  }
  
  footer {
    background-color: $darkGray;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $darkGray;
    color: $white;
    line-height: 4rem;
    text-align: center;
  
    a {
      color: $white;
    }
  }
  
  .hamburger {
    background-color: $darkGray;
    opacity: 0.8;
    border-radius: 0.5rem;
    display: none;
    padding: 0.5rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 3;
  
    .icons {
      height: 2.4rem;
    }
  }
  
  .enhaut {
    bottom: 2rem;
    display: none;
    font-size: 2.4rem;
    margin: auto;
    position: fixed;
    right: calc(5% - 2rem);
    text-align: center;
    z-index: 5;
  
    .icons {
      filter: none;
      height: 2.4rem;
    }
  }
  
  .visible {
    display: flex;
  }
  
  .invisible {
    display: none;
  }
  
  form {
    max-width: 40rem;
  
    label {
      text-align: start;
    }
  
    input,
    textarea {
      border: 1px solid $lightGray;
      border-radius: 0.5rem;
      line-height: 150%;
      margin: 0.3rem 0;
      padding: 0.5rem;
      width: 100%;
  
      &:disabled {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  
    input[type="range"] {
      accent-color: $darkGray;
    }
  
    textarea {
      resize: vertical;
    }
  
    input[type="submit"] {
      background-color: $darkGray;
      border: none;
      color: $white;
      font-size: 1.1rem;
      line-height: 2rem;
      text-align: center;
      cursor: pointer;
    }
  }
  
  #cookie {
    position: fixed;
    bottom: 50px;
    right: -400px;
    max-width: 375px;
    border: 1px solid black;
    transition: all 0.3s ease;
    z-index: 3;
  
    &.show {
      right: 20px;
    }
  
    p {
      text-indent: 0;
    }
  }
  
  @media all and (max-width: 1024px) {
    #page {
      margin: 0;
      min-width: 0;
      padding: 0;
      width: 100%;
  
      &::before,
      &::after {
        content: none;
      }
    }
  
    section,
    nav,
    header,
    footer,
    nav ul li ul {
      box-shadow: none;
    }
  
    #page::before,
    #page::after {
      content: none;
    }
  
    header,
    footer,
    article {
      border-radius: 0;
      height: auto;
      margin: 0;
      padding: 1rem;
    }
  
    header {
      min-height: 4rem;
    }
  
    h1 {
      font-size: 1.6rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    .hamburger {
      display: flex;
    }
  
    nav {
      background-color: $darkGray;
      opacity: 0.7;
      position: fixed;
      right: 2.3rem;
      top: 2.3rem;
    }
  
    nav ul {
      align-items: stretch;
      display: none;
      flex-flow: column;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  
    nav ul li,
    ul li ul {
      align-items: stretch;
      display: flex;
      flex-flow: column;
      line-height: 1.5rem;
      text-align: left;
    }
  
    nav ul li ul {
      position: static;
    }
  
    .cols {
      flex-flow: column;
    }
  
    section {
      border-radius: 0;
    }
  
    section ul li {
      margin-right: 0;
      text-align: justify;
    }
  
    .cols > article {
      text-align: center;
    }
  
    .img-round {
      margin: 1rem auto;
      max-width: 80%;
    }
  
    .enhaut {
      bottom: 2.2rem;
      right: calc(50% - 1.1rem);
    }
  }